// Leader bar
.leader-bar {
	background-color: $white;
	padding: govuk-px-to-rem(36px) govuk-px-to-rem(0px) govuk-px-to-rem(0px);
	width: 100%;

	@media only screen and (min-width : $tablet) {
		background-color: $red;
		padding: govuk-px-to-rem(67px) govuk-px-to-rem(0px);
	}

	p {
		@media only screen and (min-width : $tablet) {
			color: $white
		}	
	}
}
