// Tiles Block
.tiles-block {

	.tiles-block__tile {
		margin-bottom: govuk-px-to-rem(39px);

		&.tiles-block__tile--two-col {
			max-width: govuk-px-to-rem(570px);
			min-height: govuk-px-to-rem(235px);
		}

		hr {
			display: inline-block;
			background-color: $grey-footer;
			height: govuk-px-to-rem(4px);
			width: govuk-px-to-rem(60px);
			border: none;
			transition: 0.2s ease-in-out;
			margin-top: 0;
			margin-bottom: govuk-px-to-rem(28px);
		}

		&:hover {

			hr {
				transition: 0.2s ease-in-out;
				width: 100%;
				background-color: $red;
			}
		}
	}
}

@media only screen and (min-width : $tablet) {
	.tiles-block {
		display: flex;

		.tiles-block__tile {
			min-height: govuk-px-to-rem(377px);
			max-width: govuk-px-to-rem(336px);
			padding: govuk-px-to-rem(20px);
			margin: auto;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;

			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
				flex-basis: inherit;
			}
		}
	}
}

@media only screen and (min-width : $desktop) {
	.tiles-block {
		.tiles-block__tile {
			min-height: govuk-px-to-rem(377px);
		}
	}
}
