// Title bar
.title-bar {
	background-color: green;
	background: $gradient;
	padding: govuk-px-to-rem(52px) govuk-px-to-rem(0px);
	width: 100%;

	h1 {
		color: $white;
	}

	&.title-bar--centered {
		text-align: center;

		h1 {
			margin: auto;
			max-width: govuk-px-to-rem(604px);
		}
	}
}
