// Vimeo Embed
.embed-container {
	position: relative;
	padding-bottom: 45.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	@media only screen and (max-width : $desktop) {
		padding-bottom: 47.25%;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		right: 50%;
		width: 100vw;
	}
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
