/* ==========================================================================
COMPONENTS
========================================================================== */

// Title bar
.title-bar {
	background-color: $red;
	background: $gradient;
	padding: 2.379rem 0rem;
	width: 100%;

	h1 {
		color: $white;
	}

	&.title-bar--centered {
		text-align: center;

		h1 {
			margin: auto;
			max-width: 31.79rem;
		}
	}
}