/* ==========================================================================
COMPONENTS
========================================================================== */

// Title bar
.title-bar {
	background-color: $red;
	background: $gradient;
	padding: govuk-px-to-rem(52px) govuk-px-to-rem(0px);
	width: 100%;

	h1 {
		color: $white;
	}

	&.title-bar--centered {
		text-align: center;

		h1 {
			margin: auto;
			max-width: govuk-px-to-rem(604px);
		}
	}
}

// Header block
.header-block {
	padding: govuk-px-to-rem(55px) 0;
		
	&.header-block--home {
		padding: govuk-px-to-rem(77px) 0;
	}
}

.content-block {
	h1, h3 {
		margin-bottom: govuk-px-to-rem(21px);
	}
}

// Tiles Block
.tiles-block {

	.tiles-block__tile {
		margin-bottom: govuk-px-to-rem(39px);

		hr {
			display: inline-block;
			background-color: $grey-footer;
			height: govuk-px-to-rem(4px);
			width: govuk-px-to-rem(60px);
			border: none;
			transition: 0.2s ease-in-out;
			margin-top: 0;
			margin-bottom: govuk-px-to-rem(28px);
		}

		&:hover {

			hr {
				transition: 0.2s ease-in-out;
				width: 100%;
				background-color: $red;
			}
		}
	}
}

@media only screen and (min-width : $tablet) {
	.tiles-block {
		display: flex;

		.tiles-block__tile {
			min-height: govuk-px-to-rem(377px);
			max-width: govuk-px-to-rem(336px);
			padding: govuk-px-to-rem(20px);
			margin: auto;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
		}
	}
}

@media only screen and (min-width : $desktop) {
	.tiles-block {
		.tiles-block__tile {
			min-height: govuk-px-to-rem(304px);
		}
	}
}

// Image left text right
.image-l-text-r-block {
	padding-top: govuk-px-to-rem(20px);

	.image-l-text-r-block__image {
		width: 100%;
		max-width: 70%;
		overflow: hidden;
		order: 2;
		margin-left: auto;
		line-height: 0;
	}

	.image-l-text-r-block__text {
		max-width: govuk-px-to-rem(590px);
		margin: auto;
		order: 1;

		h3 {
			display: block;
			margin: auto;
			font-size: $h2-font-size-mobile;
			line-height: $h2-line-height-mobile;
		}
	}
}

@media only screen and (min-width : $tablet) {
	.image-l-text-r-block {
		.image-l-text-r-block__image {
			max-width: 55%;
		}
	}
}

@media only screen and (min-width : $desktop) {
	.image-l-text-r-block {
		.image-l-text-r-block__image {
			max-width: 100%;
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			align-self: flex-end;
			order: 1;
		}
		
		.image-l-text-r-block__text {
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			display: inline-block;
			order: 2;
			max-width: govuk-px-to-rem(590px);
			margin-left: govuk-px-to-rem(91px);
			margin-top: govuk-px-to-rem(0px);

			h3 {
				margin: 0;
				font-size: $h3-font-size;
				line-height: $h3-line-height;
				max-width: govuk-px-to-rem(501px);
			}

			p {
				margin-top: govuk-px-to-rem(43px);
				margin-bottom: govuk-px-to-rem(55px);
			}
		}
	}
}

// Footer
.footer-main {
	background-color: $grey-footer;
	padding: govuk-px-to-rem(61px) 0;

	.footer-main__nav {
		display: inline-block;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding-right: govuk-px-to-rem(15px);

				a {
					color: $black;
					font-size: govuk-px-to-rem(17px);
					line-height: govuk-px-to-rem(25px);
					text-decoration: none;
				}
			}

			li:last-child {
				padding-right: 0;
			}

			.current {
				text-decoration: underline;
			}
		}
	}

	.footer-main__social {
		display: inline-block;

		ul {
			list-style: none;
			padding: 0;
			margin-left: govuk-px-to-rem(115px);

			li {
				display: inline-block;
				padding-right: govuk-px-to-rem(15px);
				font-size: govuk-px-to-rem(17px);
				line-height: govuk-px-to-rem(25px);

				img {
					width: govuk-px-to-rem(26px);
					vertical-align: bottom;
				}
			}
		}
	}

	.footer-main__crest {
		float: right;
		display: inline-block;
		width: govuk-px-to-rem(90px);
		vertical-align: middle;
	}
}

@media only screen and (max-width : $tablet) {
	.footer-main {
		text-align: center;
		padding: govuk-px-to-rem(36px) 0 govuk-px-to-rem(40px) 0;

		.footer-main__nav {
			display: block;
			margin-bottom: govuk-px-to-rem(23px);

			ul {
				li {
					a {
						font-size: govuk-px-to-rem(15);
						line-height: govuk-px-to-rem(22px);
					}
				}
			}
		}
	
		.footer-main__social {
			display: block;
			margin-bottom: govuk-px-to-rem(22px);

			ul {
				margin: 0;

				li {
					a {
						font-size: govuk-px-to-rem(15);
						line-height: govuk-px-to-rem(22px);
					}
				}

				img {
					width: govuk-px-to-rem(20px);
				}
			}
		}

		.footer-main__crest {
			float: unset;
			width: govuk-px-to-rem(64px);
		}
	}
}

.cookie-bar {
	background: $yellow;
	padding: govuk-px-to-rem(14px) 0 govuk-px-to-rem(14px) 0;
	text-align: center;

	p {
		display: inline;
		margin: 0;
		font-size: govuk-px-to-rem(17px);
		line-height: govuk-px-to-rem(25px);
	}

	a {
		text-decoration: none;
		padding-left: govuk-px-to-rem(5px);
	}
}

@media only screen and (max-width : $tablet) {
	.cookie-bar {
	
		p {
			display: block;
			font-size: govuk-px-to-rem(15px);
			line-height: govuk-px-to-rem(22px);

			&:first-child {
				margin-bottom: govuk-px-to-rem(10px);
			}
		}
	
		a {
			text-decoration: none;
			padding-left: none;
			font-size: govuk-px-to-rem(12px);
			line-height: govuk-px-to-rem(15px);
		}
	}	
}

// Landing block
.landing-block {
	position: relative;

	.landing-block__image {
		background-image: url("../static/img/our-programme/landing-our-programme.png");
		height: 100%;
		min-height: govuk-px-to-rem(200px);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.landing-block__text {
		padding: govuk-px-to-rem(35px) 0 govuk-px-to-rem(27px) 0;
		width: 100%;
		background: linear-gradient(90deg, #CE132D 0%, rgba(206, 19, 45, 0) 100%), linear-gradient(270deg, #EE701C 100%, rgba(238, 112, 28, 0) 100%);

		.landing-block__text__internal {

			h1 {
				color: $white;
				font-size: govuk-px-to-rem(24px);
				line-height: govuk-px-to-rem(33px);
			}

			p {
				color: $white;
				font-size: $h1-font-size-mobile;
				line-height: $h1-line-height-mobile;
			}
		}
	}
}

@media only screen and (min-width : $tablet) {
	.landing-block {
		.landing-block__image {
			background-position: center top;
			min-height: govuk-px-to-rem(650px);
			height: calc(100vh - 176px);
		}

		.landing-block__text {
			position: absolute;
			bottom: govuk-px-to-rem(117px);
			display: inline-block;
			width: 100%;
			background: none;

			.landing-block__text__internal {
				background: linear-gradient(90deg, #CE132D 0%, rgba(206, 19, 45, 0) 100%), linear-gradient(270deg, #EE701C 100%, rgba(238, 112, 28, 0) 100%);
				max-width: govuk-px-to-rem(727px);
				padding: govuk-px-to-rem(56px) govuk-px-to-rem(55px) govuk-px-to-rem(56px) govuk-px-to-rem(62px);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
				h1 {
					font-size: govuk-px-to-rem(44px);
					line-height: govuk-px-to-rem(66px);
					margin-bottom: govuk-px-to-rem(13px);
				}
	
				p {
					font-size: govuk-px-to-rem(31px);
					line-height: govuk-px-to-rem(46px);
					margin: 0;
				}
			}
		}
	}
}

// Breadcrumbs block
// Uses govuk sass and replica markup (found in breadcrumbs.njk) as a base, then we override cosmetic styles; color, text-decoration etc.
@import "node_modules/govuk-frontend/govuk/components/breadcrumbs/breadcrumbs";

.breadcrumbs-block {
	border-top: 1px solid $grey-border;

	.govuk-breadcrumbs__link {
		color: $red;
		font-size: govuk-px-to-rem(18px);
		line-height: govuk-px-to-rem(25px);

		&:focus {
			box-shadow: none;
		}
	}

	.govuk-breadcrumbs__list-item {

		&:before { 
			border-color: $grey-support;
		}

		&:last-child {
			
			a {
				color: $black;
				text-decoration: none;
			}
		}
	}
}

// Slick carousel settings - https://kenwheeler.github.io/slick/
.carousel-block {
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	.slick-slide {
		margin-bottom: govuk-px-to-rem(-1px);
	}

	.slick-dots {
		bottom: govuk-px-to-rem(1px);
	}

	.slick-dots li button:before {
		color: $orange;
		font-size: govuk-px-to-rem(8px);
		opacity: 1;
	}

	.slick-dots li.slick-active button:before {
		color: $orange;
	}

	.slick-prev {
		left: 20px;
		z-index: 1;
	}

	.slick-next {
		right: 20px;
		z-index: 1;
	}
}

// For accessibility, if there is no js, hide all carousel images apart from the first one.
.carousel-block {
	.carousel-block__home__img:nth-of-type(n+2) {
		display:none;
	}
}

// If there is js, show all images so they can be included in carousel.
.js {
	.carousel-block {
		.carousel-block__home__img:nth-of-type(n+2) {
			display: unset;
		}
	}
}