/* ==========================================================================
ELEMENTS
========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

 :root {
	font-size: $base-font-size;
 }

 html {
	background-color: $white;
	color: $black;
	font-family: $primary-font;
	font-size: $base-font-size;
	font-weight: $base-font-weight-regular;
	line-height: $base-line-height;
	box-sizing: border-box;
	min-height: 100%; /* [2] */
	overflow-y: scroll; /* [1] */
}

* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
	color: $red;
}

a:hover,
a:focus {
	text-decoration: none;
}

button {
	background: none;
	border: none;
}
