/* ==========================================================================
LAYOUT
========================================================================== */

// Highlight section
.highlight {
	background-color: $pale-yellow;
}

// Grid containers. Variations on base container style can be added as necessary.
.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 60.95rem; // 1118px + 40px l+r padding = 1158px
	padding-left: 1.053rem;
	padding-right: 1.053rem;
	width: 100%;
}

.container--xxs {
	max-width: 28.53rem; // 502px + 40px l+r padding = 542px
}

.container--xs {
	max-width: 33.95rem; // 605px + 40px l+r padding = 645px
}

.container--sm {
	max-width: 36.63rem; // 656px + 40px l+r padding = 696px
}

.container--wide {
	max-width: 66.32rem; // 1220px + 40px l+r padding = 1260px
}

// Where different size containers are used on the same page, and all of them need to align left regardless of max-width, attach .align-left to your container wrapper.
.align-left {
	@media only screen and (min-width : $tablet) {
		left: -5px;
		padding: 0;
	}
}

.container--negative {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	right: 50%;
	width: 100vw;
}
