/* ==========================================================================
LAYOUT
========================================================================== */

// Grid containers. Variations on base container style can be added as necessary.
.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 59.63rem;
	padding-left: 0.7895rem;
	padding-right: 0.7895rem;
	width: 100%;
}

.container--wide {
	max-width: 65.79rem;
}

.container--narrow {
	max-width: 50rem;
}

.container--negative {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	right: 50%;
	width: 100vw;
}