/* ==========================================================================
MEDIA
========================================================================== */

img {
	width: 100%;
	max-width: 100%;
	border-style: none;
}

.media-full-width {
	@media only screen and (max-width : $desktop) {
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		right: 50%;
		width: 100vw;
	}
}