/* ==========================================================================
MEDIA
========================================================================== */

img {
	width: 100%;
	max-width: 100%;
	border-style: none;
}