/* ==========================================================================
NAVIGATION
========================================================================== */

.header-main {
	padding: 25px 0;

	.header-main__logo {
		display: inline-block;
		max-width: 160px;
	}

	.header-main__nav {
		display: inline-block;
		text-align: right;
		right: 0;
		position: absolute;
	}

	.header-main__menu {
		cursor: pointer;
		display: none;
		text-align: right;
		right: 0;
		position: absolute;

		.header-main__menu__burger {
			width: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;

			div {
				width: 100%;
				height: 3px;
				border-radius: 2px;
				background-color: $red;
				margin-bottom: 7px;
			}
		}
	}
}

.main-nav, .secondary-nav {

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 28px;

				
			a {
				color: $black;
				font-family: $primary-font;
				font-style: normal;
				font-size: 0.9474rem;
				line-height: 1.316rem;
				text-decoration: none;
			}
		}
	}
}

.secondary-nav {
	margin-top: 26px;

	ul {

		li {
			margin-right: 29px;

			a {
				font-size: $h1-font-size;
				line-height: $h1-line-height;
			}
		}
	}
}

@media only screen and (max-width : $tablet) {
	.header-main {
		.header-main__nav {
			display: none;
		}

		.header-main__menu {
			display: inline-block;
			padding-right: 20px;
		}
	}
}