/* ==========================================================================
TYPOGRAPHY
========================================================================== */

p {
	width: 100%;
	font-family: $secondary-font;
	font-size: $body-font-size-mobile;
	font-weight: $base-font-weight-regular;
	line-height: $body-line-height;
	font-style: normal;
	color: $body;

	@media only screen and (min-width : $tablet) {
		font-size: $body-font-size;
		line-height: $body-line-height;
	}
}

/* Shared styles */
h1, h2, h3, h4, h5, h6 {
	color: $body;
	font-family: $headings-font;
	font-weight: $headings-font-weight;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	margin: 0;
	mix-blend-mode: normal;
}

h1 {
	font-size: $h1-font-size-mobile;
	line-height: $h1-line-height-mobile;
	font-weight: $base-font-weight-regular;

	@media only screen and (min-width : $tablet) {
		font-size: $h1-font-size;
		line-height: $h1-line-height;
	}
}

h2 {
	font-size: $h2-font-size-mobile;
	line-height: $h2-line-height-mobile;
	font-weight: $base-font-weight-regular;

	@media only screen and (min-width : $tablet) {
		font-size: $h2-font-size;
		line-height: $h2-line-height;
	}
}

h3 {
	font-size: $h3-font-size-mobile;
	line-height: $h3-line-height-mobile;
	font-weight: $base-font-weight-regular;

	@media only screen and (min-width : $tablet) {
		font-size: $h3-font-size;
		line-height: $h3-line-height;
	}
}

// Subheading, slightly different styling.
h4 {
	font-size: $h4-font-size-mobile;
	line-height: $h4-line-height-mobile;

	@media only screen and (min-width : $tablet) {
		font-size: $h4-font-size;
		line-height: $h4-line-height;
	}
}

.bold {
	font-weight: $base-font-weight-bold;
}

.centered {
	text-align: center;
}

.gradient {
	background-color: $red;
	background: linear-gradient(135deg, #CE132D 0%, #EE701C 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
