/* ==========================================================================
VARIABLES
========================================================================== */

// Colors
$black: #000;
$white: #ffffff;
$yellow: #FFDB03;
$pale-yellow: rgba(252, 247, 215, 0.63);
$red: #CE132D;
$grey-background: #E5E5E5;
$grey-support: #B3BABF;

$body-text: #323E48;

// Custom media queries
$xs-mobile-down: 340px;
$sm-mobile: 375px;
$md-mobile: 480px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$lg-desktop: 1200px;
$xl-desktop: 1440px;

// Fonts
$primary-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$headings-font: 'Nunito Sans', sans-serif;

// Font weight
$base-font-weight-bold: 700;
$base-font-weight-regular: 400;
$headings-font-weight: 700;

// Font sizes
$base-font-size: 16px;
$h1-font-size: 28px;
$h2-font-size: 26px;
$h3-font-size: 24px;
$h4-font-size: 22px;

// Font line heights
$base-line-height: 16px;
$h1-line-height: 16px;
$h2-line-height: 16px;
$h3-line-height: 16px;
$h4-line-height: 16px;
