/* ==========================================================================
VARIABLES
========================================================================== */

// Colors
$black: #000;
$white: #ffffff;
$yellow: #FFDB03;
$pale-yellow: rgba(252, 247, 215, 0.63);
$red: #CE132D;
$grey-background: #E5E5E5;
$grey-support: #B3BABF;
$gradient: linear-gradient(90deg, #CE132D 0%, rgba(206, 19, 45, 0) 100%), linear-gradient(270deg, #EE701C 0%, rgba(238, 112, 28, 0) 100%), #CE132D;

$body: #323E48;

// Custom media queries
$xs-mobile-down: 340px;
$sm-mobile: 375px;
$md-mobile: 480px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$lg-desktop: 1200px;
$xl-desktop: 1440px;

// Fonts
$primary-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$headings-font: 'Nunito Sans', sans-serif;

// Font weight
$base-font-weight-bold: 700;
$base-font-weight-regular: normal;
$headings-font-weight: 700;

// Font sizes
$base-font-size: 19px;

$h1-font-size-mobile: 1.158rem;
$h1-font-size: 1.526rem;

$h2-font-size-mobile: 1rem;
$h2-font-size: 1.211rem;

$h3-font-size-mobile: 0.8947rem;
$h3-font-size: 1rem;

// Font line heights
$base-line-height: 1rem;

$h1-line-height-mobile: 1.579rem;
$h1-line-height: 2.105rem;

$h2-line-height-mobile: 1.368rem;
$h2-line-height: 1.737rem;

$h3-line-height-mobile: 1.316rem;
$h3-line-height: 1.474rem;
