@import '_variables.css';
@import '_normalise.css';

@media screen and (min-width:768px) {
	:root {
		font-size: 1.25rem;
	}
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: white;
	color: $grey;
}

.max-width {
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
@media(max-width: 45rem) {
	.max-width--overflow-hidden {
		overflow: hidden;
	}
}
.horizontal-padding {
	padding-left: 10px;
	padding-right: 10px;
}

p,
pre,
code,
ul,
ol {
	line-height: 1.5;
}

a,
a:visited {
	color: $red;
}
a:hover,
a:focus {
	text-decoration: none;
}

img {
	max-width: 100%;
	line-height: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}

h2 {
	font-size: 1.5rem;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid $orange;
	background-color: $orange;
	color: $white;
	cursor: pointer;
}


.site-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 45em;
	margin: 0 auto;
}
.site-header__logo {
	max-width: 15em;
	width: 50%;
	line-height: 0;
}
.site-header__logo a {
	display: block;
}
.site-header h1 {
	margin: 0;
}

.main-nav ul {
	padding: 0;
	margin: 0;
}
.main-nav ul li:first-child {
	margin-left: 0;
}
.main-nav li {
	display: inline-block;
	margin: 0 .5em;
}
.main-nav a {
	color: $grey;
}
.main-nav a {
	text-decoration: none;
}
.main-nav a:hover,
.main-nav a:focus {
	text-decoration: underline;
}
.main-nav a[data-current="current item"] {
	font-weight: 700;
}

/* Mobile navigation */
@media (max-width: 660px) {
	.site-header__logo,
	.site-header__nav {
		margin-left: auto;
		margin-right: auto;
	}
	.main-nav {
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}
}

$gradient: linear-gradient(90deg, $red 0%, $orange-against-large-white-text 100%);
$gradient-bg-size: auto auto;
.gradient {
	background-color: $red;
	background-image: $gradient;
	background-size: $gradient-bg-size;
	color: $white;
}
.gradient--coil {
	background-image: url('/static/img/NLC_lead_the_way-TRANSPARENTX500.png'), $gradient;
	background-size: 35% auto, $gradient-bg-size;
	background-repeat: no-repeat, repeat;
	background-position: right -10% center, 0 0;
}
.gradient--links {
	background-image: url('/static/img/NLC_full_colour-TRANSPARENTX500.png'), $gradient;
	background-size: 35% auto, $gradient-bg-size;
	background-repeat: no-repeat, repeat;
	background-position: right -15% center, 0 0;
}
.coil {
	float: right;
	width: 30%;
	margin-right: -10%;
}
.subtitle {
	margin-top: 0;
	margin-bottom: 0;
	padding: 50px 30px;
	font-weight: 300;
	font-size: 1.5rem;
	font-family: 'Nunito Sans', sans-serif;
}
@media (min-width: 540px) {
	.subtitle {
		padding: 70px 50px;
	}
}
.subtitle--with-image {
	padding-right: 25%;
}

.taskforce-report {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
	padding: 20px;
	font-weight: 300;
	position: relative;
	margin: 0;
	overflow: hidden;
}
@media (min-width: 620px) {
	.taskforce-report {
		font-size: 1.5rem;
		padding: 70px 40px 70px 40px;
	}
}
.taskforce-report__column-one {
	float: left;
	width: 65%;
}
.taskforce-report__column-two {
	float: right;
	width: 25%;
}
@supports( grid-area: auto ) {
	.taskforce-report {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 20px;
		overflow: visible;
	}
	.taskforce-report__column-one {
		float: none;
		width: auto;
		display: block;
		grid-column-start: 1;
		grid-column-end: span 3;
		align-self: center;
		grid-row: 1;
	}
	.taskforce-report__column-two {
		float: none;
		width: auto;
		grid-column-start: 4;
		grid-column-end: span 1;
		grid-row: 1;
	}
	@media (max-width: 530px) {
		.taskforce-report__column-two{
			grid-column-start: 3;
			grid-column-end: span 2;
			position: relative;
			left: 55%;
		}	
	}
}
.taskforce-report__image {
	display: block;
	line-height: 0;
	border: 1px solid #DDD;
	border-radius: 1px;
	transform: rotate(-10deg) scale(1);
	box-shadow: 0 2px 2px rgba(11,12,12,0.4);
	transition-property: transform box-shadow;
	transition-duration: 0.07s;
	transition-timing-function: ease-in-out;
}
.taskforce-report__image:hover {
	transform: rotate(-5deg) scale(1);
	box-shadow: 1px 2px 2px  rgba(11,12,12,0.4);
}
/* Remove movement if the users has set a reduced motion option. */
@media (prefers-reduced-motion: reduce) {
	.taskforce-report__image:hover {
		transform: rotate(-10deg) scale(1);
		box-shadow: 0 2px 2px rgba(11,12,12,0.4);
	}
}
.gradient-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	background:  linear-gradient(135deg, $red 0%, $orange-against-large-white-text 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.gradient-text {
		background: none;
	}
}
.sub-navigation {
	border-width: 0 0 1px;
	border-color: $light-grey;
	border-style: solid;
	margin-top: 1.5rem;
	margin-bottom: 0;
}
.sub-navigation ul {
	padding: 0;
	margin: 0;
}
.sub-navigation ul :first-child {
	margin-left: 0;
}
.sub-navigation li {
	display: inline-block;
	margin: 0 .5em;
}
.sub-navigation a {
	padding: 0.5rem 1rem;
	display: block;
	color: $grey;
	text-decoration: none;
	border: 1px solid $light-grey;
	border-radius: 3px 3px 0 0;
	background: $very-light-grey;
	position: relative;
	top: 1px;
}
.sub-navigation a:hover,
.sub-navigation a:focus {
	text-decoration: underline;
}
.sub-navigation a[data-current="current item"] {
	background: $white;
	border-bottom-color: $white;
}
.big-numbered-list {
	padding: 20px;
	margin: 0;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.4em;
	font-family: 'Nunito Sans', sans-serif;
}
@media (min-width: 620px) {
	.big-numbered-list {
		padding: 20px 50px;
	}
}
.big-numbered-list li {
	margin-bottom: 1rem;
}
.text-formatted {
	padding: 0 10px;
}
.skip-link {
	color: $grey;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0 !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	display: block;
	padding: 10px 15px;
}
.skip-link:focus {
	position: static !important;
	width: auto !important;
	height: auto !important;
	margin: inherit !important;
	overflow: visible !important;
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	white-space: inherit !important;
	outline: 3px solid $yellow;
	outline-offset: 0;
	background-color: $yellow;
}