@import '_variables.css';
@import '_normalise.css';

@media screen and (min-width:768px) {
	:root {
		font-size: 1.125rem;
	}
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: white;
	color: $grey;
}

.max-width {
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

p,
pre,
code,
ul,
ol {
	line-height: 1.5;
}

a,
a:visited {
	color: $red;
}
a:hover,
a:focus {
	text-decoration: none;
}

img {
	max-width: 100%;
	line-height: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 2;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
}

h2 {
	font-size: 1.5rem;
}

/* Header Nav */
nav ul {
	padding: 0;
	margin: 0;
}
nav ul :first-child {
	margin-left: 0;
}

nav li {
	display: inline-block;
	margin: 0 .5em;
}

nav li a[data-current="current item"] {
	font-weight: 700;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid $orange;
	background-color: $orange;
	color: $white;
	cursor: pointer;
}


.site-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 45em;
	margin: 0 auto;
}
.site-header__logo {
	max-width: 15em;
	width: 50%;
}
.site-header__logo a {
	display: block;
}
.site-header__nav {
	padding-left: 1em;
}

.main-nav a {
	color: $grey;
}
.main-nav a {
	text-decoration: none;
}
.main-nav a:hover,
.main-nav a:focus {
	text-decoration: underline;
}

.gradient {
	background: $red;
	background: linear-gradient(90deg, $red 0%, $orange 70%, $yellow 140%);
	color: $white;
}

.subtitle {
	padding: 50px 30% 50px 50px;
	font-weight: 300;
	font-size: 1.5rem;
	font-family: 'Nunito Sans', sans-serif;
}

.taskforce-report {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
	padding: 20px 20px 20px 30px;
	font-weight: 300;
	position: relative;
	margin-bottom: 60px;
}
@media (min-width: 620px) {
	.taskforce-report {
		font-size: 1.5rem;
		padding: 70px 50px 70px 50px;
	}
	.taskforce-report--with-image {
		padding-right: 30%;
	}
}
.taskforce-report__image {
	line-height: 0;
	position: absolute;
	top: 20px;
	right: 5%;
	width: 22%;
	max-width: 300px;
	border: 1px solid #DDD;
	border-radius: 1px;
	transform: rotate(-10deg);
	box-shadow: 0 2px 2px rgba(11,12,12,0.4);
	transition-property: transform;
	transition-duration: 0.07s;
}
.taskforce-report__image:hover {
	transform: rotate(-5deg);
}
.gradient-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	background:  linear-gradient(90deg, $red 0%, $orange 70%, $yellow 140%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.alternate-text {
	text-align: right;
}
.sub-navigation {
	border-width: 0 0 1px;
	border-color: $light-grey;
	border-style: solid;
}
.sub-navigation a {
	padding: 10px 0;
	display: block;
	color: $grey;
}
.big-numbered-list {
	padding: 20px 50px;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.4em;
	font-family: 'Nunito Sans', sans-serif;
}
.big-numbered-list li {
	margin-bottom: 1rem;
}