@import '_variables.css';
@import '_normalise.css';

@media screen and (min-width:768px) {
	:root {
		font-size: 1.125rem;
	}
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: white;
	color: var(--grey)
}

main {
	max-width: 45em;
	margin: 0 auto;
	width: 100%;
}

p,
pre,
code {
	line-height: 1.5;
}

a,
a:visited {
	color: var(--red);
}

img {
	max-width: 100%;
	line-height: 0;
}

a[href]:not(:hover) {
	text-decoration: none;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
}

h2 {
	font-size: 1.5rem;
}

/* Header Nav */
nav ul {
	padding: 0;
}
nav ul :first-child {
	margin-left: 0;
}

nav li {
	display: inline-block;
	margin: 0 .5em;
}

nav li a[href]:not(:hover) {
	text-decoration: none;
}

nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--orange);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--orange);
	background-color: var(--orange);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--orange);
	background-color: var(--orange);
	color: var(--white);
	cursor: pointer;
}


.site-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 45em;
	margin: 0 auto;
}
.site-header__logo {
	max-width: 15em;
}
.site-header__logo a {
	display: block;
}
.site-header__nav {
	padding-left: 1em;
}

.main-nav a {
	color: var(--grey);
}

.gradient {
	background: var(--red);
	background: linear-gradient(90deg, var(--red) 0%, var(--orange) 70%, var(--yellow) 140%);
	color: var(--white);
}

.subtitle {
	padding: 50px 30% 50px 50px;
	font-weight: 300;
}

.taskforce-report {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
	padding: 20px 30% 20px 30px;
	font-weight: 300;
	position: relative;
	margin-bottom: 60px;
}
@media (min-width: 620px) {
	.taskforce-report {
		font-size: 1.5rem;
		padding: 70px 30% 70px 50px;
	}
}
.taskforce-report__image {
	line-height: 0;
	position: absolute;
	top: 20px;
	right: 5%;
	width: 22%;
	max-width: 300px;
	border: 1px solid #DDD;
	border-radius: 1px;
	transform: rotate(-10deg);
	box-shadow: 0 2px 2px rgba(11,12,12,0.4);
	transition-property: transform;
	transition-duration: 0.07s;
}
.taskforce-report__image:hover {
	transform: rotate(-5deg);
}
.gradient-text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	background:  linear-gradient(90deg, var(--red) 0%, var(--orange) 70%, var(--yellow) 140%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.alternate-text {
	text-align: right;
}