backend:
  name: git-gateway
  branch: feature/team-cms # Branch to update (optional; defaults to master)

local_backend: true

publish_mode: editorial_workflow

media_folder: 'static/img' # Media files will be stored in the repo under images/uploads

collections:
  - name: 'team' # Used in routes, e.g., /admin/collections/blog
    label: 'Team member' # Used in the UI
    folder: 'team' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    identifier_field: name
    fields: # The fields for each document, usually in front matter
      - { label: 'Name', name: 'name', widget: 'string' }
      - { label: 'Image', name: 'image', widget: 'image' }
      - { label: 'Description', name: 'body', widget: 'markdown' }
