backend:
  name: git-gateway
  branch: feature/ch3687/add-the-ability-for-nlc-staff-to-edit-website # Branch to update (optional; defaults to master)

local_backend: true

publish_mode: editorial_workflow

media_folder: 'static/img' # Media files will be stored in the repo under images/uploads

collections:
  - name: 'team' # Used in routes, e.g., /admin/collections/blog
    label: 'Team member' # Used in the UI
    preview_path: who-we-are/team/
    folder: 'team' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    identifier_field: name
    fields: # The fields for each document, usually in front matter
      - { label: 'Name', name: 'name', widget: 'string' }
      - {
          label: 'Order',
          name: 'order',
          widget: 'number',
          valueType: 'int',
          hint: 'Control the order team members are displayed on the page. Lower numbers appear higher up the page.',
        }
      - { label: 'Image', name: 'image', widget: 'image', required: false }
      - { label: 'Description', name: 'body', widget: 'markdown' }
  - name: 'page' # Used in routes, e.g., /admin/collections/blog
    label: 'Basic page' # Used in the UI
    folder: 'pages' # The path to the folder where the documents are stored
    filter: { field: 'layout', value: 'layouts/page.njk' }
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Permalink', name: 'permalink', widget: 'string' }
      - { label: 'Navigation title', name: 'navtitle', widget: 'string' }
      - label: 'Menu'
        name: 'tags'
        widget: 'select'
        multiple: true
        options:
          - { label: 'Header', value: 'nav' }
          - { label: 'Footer', value: 'footer' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
