<section class="carousel-block" aria-label="carousel" id="carousel">
	<div class="carousel-block__home">
	{% for key, image in carousel_images %}
		<div class="carousel-block__home__img">
			<img src="{{ image }}" alt="People talking at national leadership centre event">
		</div>
	{% endfor %}
	</div>
</section>