<div class="carousel-block">
	<div class="carousel-block__home">
		<div>
			<img src="/static/img/carousel-home/carousel-1.jpg" alt="People talking at national leadership centre event">
		</div>
		<div>
			<img src="/static/img/carousel-home/carousel-2.jpg" alt="People talking at national leadership centre event">
		</div>
	</div>
</div>