<footer class="footer-main">
	<div class="container container--wide">
		<nav class="footer-main__nav">
			<ul>
				{%- for footer in collections.footer | sort(attribute="date") -%}
				<li>
					<a href="{{ footer.url | url }}"{% if footer.url == page.url %} data-current="current item" class="current"{% endif %}>{{ footer.data.navtitle }}</a>
				</li>
				{%- endfor -%}
			</ul>
		</nav>
		<div class="footer-main__social">
			<ul>
				<li>Follow the NLC:</li>
				<li>
					<a target="_blank" href="https://twitter.com/NLC_HQ">
						<img src="/static/img/twitter.svg" alt="Follow The National Leadership Centre on Twitter" />
					</a>	
				</li>
				<li>
					<a target="_blank" href="https://www.linkedin.com/company/national-leadership-centre/">
						<img src="/static/img/linkedin.svg" alt="Visit the The National Leadership Centre on Linkedin page" />
					</a>
				</li>
			<ul>
		</div>
		<div class="footer-main__crest">
			<img src="/static/img/govuk-crest-2x.png" alt="Government crest" />
		</div>
	</div>
</footer>

<div class="cookie-bar">
	<div class="container">
		<p>The National Leadership Centre uses cookies to make this site simpler.</p> 
		<p><a href="/cookies">Find out more about cookies</a></p>
	</div>
</div>