<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if permalink == '/' %}
    <title>{{ title or renderData.title or metadata.title }}</title>
  {% else %}
    <title>{{ title or renderData.title or metadata.title }} | National Leadership Centre</title>
  {% endif %}
  <link rel="manifest" href="/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700|Source+Sans+Pro:300,400&display=swap" rel="stylesheet">
  {% set css %}
    {% include "assets/css/build/styles.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <link rel="stylesheet" href="/_includes/assets/slick/slick.css">
  <link rel="stylesheet" href="/_includes/assets/slick/slick-theme.css">
  <script src="/_includes/assets/js/jquery-3.4.1.min.js"></script>
  {# TODO: Do not load the slick library on every page #}
  <script src="/_includes/assets/slick/slick.min.js"></script>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
