<div class="image-l-text-r-block">
	<div class="container container--flex container--wide">
		<div class="image-l-text-r-block__image">
			<img src="/static/img/cropped-coil-min.png" alt="">
		</div>
		<div class="image-l-text-r-block__text">
			<h3>{{ heading_one }}</h3>
			<p>{{ paragraph_two }}</p>
		</div>
	</div>
</div>

