<div class="image-l-text-r-block">
	<div class="container container--flex container--wide">
		<div class="image-l-text-r-block__image">
			<img src="/static/img/NLC_lead_the_way-TRANSPARENTX500 1.png" alt="NLC coil">
		</div>
		<div class="image-l-text-r-block__text">
			<h3>The National Leadership Centre was created by the Government in 2018 to support cross sector leadership, facilitating and supporting people to collaborate on the toughest challenges the country faces.</h3>
			<p>The scale and complexity of demands on our public services continue to grow. Investing in leadership is an important part of increasing productivity and supporting people to overcome a sense of isolation that often comes with becoming the most senior person of a public sector organisation.</p>
		</div>
	</div>
</div>

