<nav aria-label="Main navigation">
  <div class="main-nav">
    <ul>
    {%- for nav in collections.nav | sort(attribute="date") -%}
      <li>
        <a href="{{ nav.url | url }}"{% activepath nav.url, page.url %}>{{ nav.data.navtitle }}</a>
      </li>
    {%- endfor -%}
      <li><a href="https://medium.com/national-leadership-centre" target="_blank">NLC Latest</a>
    </ul>
  </div>

  <div class="secondary-nav">
    <ul>
      {%- for primary in collections.primary | sort(attribute="date") -%}
      <li>
        <a href="{{ primary.url | url }}"{% if primary.url == page.url %} data-current="current item" class="current"{% endif %}>{{ primary.data.navtitle }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>