<div class="tiles-block margin-top">
	<div class="container container--wide container--flex">
		<div class="tiles-block__tile tiles-block__tile--two-col">
			<hr>
			<h4 class="bold">Meet the team</h4>
			<p>Find out who is behind our work at The National Leadership Centre. </p>
			<p><a href="{{ '/who-we-are/team' | url }}">Find out more about the team ></a><p>
		</div>
		<div class="tiles-block__tile tiles-block__tile--two-col">
			<hr>
			<h4 class="bold">Meet the board</h4>
			<p>Our board is made up of senior leaders from across the public sector.</p>
			<p><a href="{{ '/who-we-are/board' | url }}">Find out more about the board ></a></p>
		</div>
	</div>
</div>