---
title: COVID 19 library
date: 2017-01-01T00:00:00.000Z
permalink: /covid19-library/index.html
templateEngineOverride: njk,md
---

<div class="team-block-wrapper no-images">
<div class="container">

<div class="team-block vertical-padding">
{% for card in covid19TrelloExport.cards %}
<div class="team-block__item">
<div class="team-block__item__image">
{# <img src="{{ item.image }}" alt="Headshot image of {{ item.name }}"> #}
</div>
<div class="team-block__item__name">
{{ card.name }}
</div>
<div class="team-block__item__bio cropped">

{{card.desc}}

<p>
{% for attachment in card.attachments %}
<a href="{{ attachment.url}}" target="_blank" aria-label="Visit page: {{ attachment.name }}">{{ attachment.name }}</a>
{% endfor %}
<p>
</div>
<div class="team-block__item__readmore caption">
More
</div>
<img class="team-block__item__readmore__img" alt="" src="../../static/img/readmore.svg">
</div>
{% endfor %}
</div>
</div>
</div>