---
title: COVID 19 library
date: 2017-01-01T00:00:00.000Z
permalink: /covid19-library/index.html
templateEngineOverride: njk,md
---


{% for card in covid19TrelloExport.cards %}
## {{ card.name }}

{{card.desc}}

<p>
{% for attachment in card.attachments %}
<a href="/convid19-library/{{ card.name | slug }}/" aria-label="Visit page: {{ attachment.name }}">{{ attachment.name }}</a>
{% endfor %}
<p>
{% endfor %}