---
layout: layouts/base.njk
section: page
---
			
<h1 class="max-width text-formatted">{{ title }}</h1>

<nav class="sub-navigation max-width text-formatted">
  <ul>
  {%- for nav in collections.aboutsubpages | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav>

{% if subtitle %}
<div class="gradient">
  <h2 class="subtitle max-width">{{ subtitle }}</h2>
</div>
{% endif %}


<div class="text-formatted max-width">
  {{ layoutContent | safe }}
</div>
