<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<div class="govuk-skip-link-wrapper">
			<a href="#content" class="govuk-skip-link">Skip to main content</a>
		</div>

		<header role="banner" class="header-main" id="main-navigation">
			<div class="container container--wide container--flex">
				<div class="header-main__logo">
					<a href="{{ '/' | url }}">
						<img src="/static/img/nlc-full-logoX600.png" alt="{{ metadata.title }}" />
					</a>
				</div>
				<div class="header-main__nav">
					{% include "components/nav.njk" %}
				</div>
				<button class="header-main__menu js-closed" aria-expanded="false" href="#main-navigation">
					<a class="css-nav css-nav--open" href="#main-navigation" aria-label="Open menu">Open</a>
					<a class="css-nav css-nav--close" href="#" aria-label="Close menu">Close</a>
					<div class="header-main__menu__text closed-text" aria-label="Open menu">Menu</div>
					<div class="header-main__menu__text open-text" aria-label="Close menu">Close</div>
					<div class="header-main__menu__burger">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</button>
			</div>
		</header>

		{%- if navtitle == "Home" -%}
			{% include "components/carousel.njk" %}
		{% endif %}

		{%- if navtitle !== "Home" -%}
			{% include "components/breadcrumbs.njk" %}
		{% endif %}

		<main id="content">
			{% if not primary %}
				{% include "components/title-bar.njk" %}
			{% endif %}
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>
	<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ ga.ua }}', 'auto');
	ga('set', 'anonymizeIp', true);
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</html>
