<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<a href="#content" class="skip-link">Skip to main content</a>
		<header class="site-header">
			<div class="site-header__logo">
				<a href="{{ '/' | url }}">
				<img src="/static/img/nlc-full-logo.png" alt="{{ metadata.title }}" />
				</a>
			</div>
			<div class="site-header__nav">
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main id="content">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
