---
layout: layouts/base.njk
section: contact
---
<h1 class="max-width">{{ title }}</h1>

<div class="text-formatted max-width">
{{ layoutContent | safe }}
</div>
{#% include "components/form.njk" %#}
