---
layout: layouts/base.njk
section: contact
---

<div class="container container--xs vertical-padding">
	<p class="h2-style">You can contact the National Leadership Centre by email on <a href="mailto:NLC@CabinetOffice.gov.uk">NLC@CabinetOffice.gov.uk</a></p>
	<p class="h2-style">If you are a part of the senior leader network, the NLC can help you get better connected with other leaders, or help you find supporting information around a problem or subject-matter.</p>
	<p class="h1-style"><a href="">Request information</a></p>
	<p class="h1-style"><a href="">Request contact details of another senior leader within the public sector</a></p>
	<p class="h1-style">You can follow the NLC on social media and join the conversation on:</p>
	<p class="no-margin"><a href="https://twitter.com/NLC_HQ" target="_blank">Twitter</a></p>
	<p class="no-margin"><a href="https://www.linkedin.com/company/national-leadership-centre/" target="_blank">LinkedIn</a></p>
</div>

{{ layoutContent | safe }}
