---
layout: layouts/base.njk
section: home
---

{% if subtitle %}
<div class="gradient">
  <h2 class="subtitle max-width">{{ subtitle }}</h2>
</div>
{% endif %}

<div class="text-formatted max-width">
{{ layoutContent | safe }}
</div>
