---
layout: layouts/base.njk
section: home
---

{% if subtitle %}
<div class="gradient gradient--coil">
  <h2 class="subtitle subtitle--with-image max-width">{{ subtitle }}</h2>
</div>
{% endif %}

<div class="text-formatted max-width">
{{ layoutContent | safe }}
</div>
