---
layout: layouts/base.njk
section: home
---
<div class="container container--wide">
[container wide]
</div>
<div class="container">
[container regular]
</div>

{% include "components/title-bar.njk" %}

{{ layoutContent | safe }}
