---
layout: layouts/base.njk
section: meet the team
---
<script>
var root = document.getElementsByTagName( 'html' )[0]; // '0' to assign the first (and only `HTML` tag)
root.setAttribute( 'class', 'js' );
</script>

<div class="header-child centered">
	<div class="container">
		<h2>{{navtitle}}</h2>
	</div>
</div>

<div class="team-block-wrapper">
	<div class="container">
		{{ layoutContent | safe }}

		<div class="team-block vertical-padding">
			{% for member, item in teamMembers %}
				<div class="team-block__item">
					<div class="team-block__item__image">
						{# <img src="{{ item.image }}" alt="Headshot image of {{ item.name }}"> #}
					</div>
					<div class="team-block__item__name">
						{{ item.name }}
					</div>
					<div class="team-block__item__bio">
						<p>{{ item.description }}</p>
					</div>
					<div class="team-block__item__readmore caption">
						More
					</div>
					<img class="team-block__item__readmore__img" src="../static/img/readmore.svg">
				</div>
			{% endfor %}
		</div>
	</div>
</div>
