---
layout: layouts/base.njk
section: meet the team
---

<div class="header-child centered">
	<div class="container">
		<h2 class="no-margin">{{navtitle}}</h2>
	</div>
</div>

 {{ layoutContent | safe }}

