---
layout: layouts/base.njk
section: our programme
---

<div class="landing-block">
	<div class="landing-block__image"></div>
	<div class="landing-block__text">
		<div class="container container--wide">
			<div class="landing-block__text__internal">
				<h1>{{title}}</h1>
				<p>{{leader}}</p>
			</div>
		</div>
	</div>
</div>

<div class="container container--sm vertical-padding">
	{{ layoutContent | safe }}
</div>