---
layout: layouts/base.njk
section: programme
---

<div class="landing-block">
	<div class="landing-block__image" style="background-image: url('/static/img/primary/programme.jpg');"></div>
	<div class="landing-block__text">
		<div class="container container--wide">
			<div class="landing-block__text__internal">
				<h1>{{title}}</h1>
				<p>{{leader}}</p>
			</div>
		</div>
	</div>
</div>

{{ layoutContent | safe }}
