---
layout: layouts/base.njk
section: who we are
---

<div class="header-block highlight">
	<div class="container container--sm">
		<h2 class="no-margin">Meet the people who work together to support Senior Leaders in their roles across the UK Public Sector.</h2>
  </div>
</div>

<div class="content-block vertical-padding">

	{% include "components/tiles-who-we-are.njk" %}

	<div class="container container--xxs align-left vertical-padding">
		{{ layoutContent | safe }}